<!DOCTYPE HTML>
<html ng-app="my-app">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Jasmine Spec Runner v2.0.0</title>

		<link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/bootstrap/infragistics.theme.css" rel="stylesheet" type="text/css" />
		<link href="http://cdn-na.infragistics.com/igniteui/latest/css/structure/infragistics.css" rel="stylesheet" type="text/css" />

	</head>

	<body ng-controller="NorthwindCtrl">

 	<h1>igGrid</h1>	
		<div id="grid_placeholder">
			<ig-grid id="grid1" data-source="northwind" height="400px" primary-key="ProductID" auto-commit="true" width="700px" auto-generate-columns="false">
				<columns>
					<column key="ProductID" header-text="Product ID" width="200px" data-type="number"></column>
					<column key="ProductName" header-text="Name" width="300px" data-type="string"></column>
					<column key="QuantityPerUnit" header-text="Quantity per unit" width="200px" data-type="string"></column>
					<column key="UnitsOnOrder" header-text="UnitsOnOrder" width="200px" data-type="number"></column>
				</columns>
				<features>
					<feature name="Updating">
						<column-settings>
							<column-setting column-key="ProductID" read-only="true">
						</column-settings>
						</column-settings>
					</feature>
					<feature name="Filtering">
					</feature>
					<feature name="Sorting">
					</feature>
				</features>
			</ig-grid>
		</div>
		
		<table id="gridmodel">
			<tbody>
				<tr>
					<td>{{newProduct.ProductID = northwind.length + 1}}</td>
					<td><input type="text" ng-model="newProduct.ProductName"></td>
					<td><input type="text" ng-model="newProduct.QuantityPerUnit"></td>
					<td><input type="text" ng-model="newProduct.UnitPrice"></td>
					<td><input type="button" value="Add" ng-click="add($index)"/></td>
				</tr>
				<tr ng-repeat="product in northwind">
					<td>{{product.ProductID}}</td>
					<td><input type="text" ng-model="product.ProductName"></td>
					<td>{{product.QuantityPerUnit}}</td>
					<td>{{product.UnitPrice}}</td>
					<td><input type="button" value="Delete" ng-click="delete($index)"/></td>
				 </tr>
			</tbody>
		</table>

		<h1>igTree</h1> 
		<ig-tree id="tree1" data-source="dataObject">
			<bindings child-data-property="ProductSubcategories" text-key="Name" value-key="ProductCategoryID">
			</binding>
		</ig-tree>
		<input type="button" ng-click="addNodeRootLevel()" value="Add Node" />
		<input type="button" ng-click="removeSelectedNode()" value="Remove selected node" />
		<table id="treemodel" class="borders">
			<tbody>
				<tr>
					<td>{{newDataObject.ProductCategoryID = dataObject.length + 1}}</td>
					<td><input type="text" ng-model="newDataObject.Name"></input></td>
					<td><input type="button" value="Add" ng-click="addDo($index)"/></td>
				</tr>
				<tr ng-repeat="do in dataObject">
					<td>{{do.ProductCategoryID}}</td>
					<td><input type="text" ng-model="do.Name"></input></td>
					<td><input type="button" value="Delete" ng-click="deleteDo($index)"/></td>
					<td>
						<div>{{newProductSubcategoriesObject.ProductSubcategoryID = do.ProductSubcategories.length + 1}}<input type="text" ng-model="newProductSubcategoriesObject.Name"></input><input type="button" value="Add" ng-click="addDoChild($index)"/></div>
						<div ng-repeat="ps in do.ProductSubcategories"><input type="text" ng-model="ps.Name"></input><input type="button" value="Delete" ng-click="deleteDoChild($parent.$index, $index)"/></div>
					</td>
					
				 </tr>
			</tbody>
		</table>

		<h1>igCombo</h1> 
		<input type="text" ng-model="combo.value1"/>
		<ig-combo id="combo1" allow-custom-value="true" data-source="northwind" value-key-type="number" value-key="ProductID" text-key-type="string" text-Key="ProductName" ng-model="combo.value1">
		</ig-combo>
		<ig-combo id="combo2" data-source="northwind" value-key-type="number" value-key="ProductID" text-key-type="string" text-Key="ProductName" ng-model="combo.value2">
            <multi-selection enabled="true"></multi-selection>
		</ig-combo>
		<ig-combo id="combo3" data-source="northwind" allow-custom-value="true" value-key="ProductID" text-key="ProductName" ng-model="combo.value1">
    </ig-combo>
		<br/>
		<ul id="combomodel">
			<li ng-repeat="record in northwind">
				<input ng-model="record.ProductName">
			</li>
		</ul>

		<ig-html-editor id="htmlEditor1" event-action-executed="triggerEvent">
		</ig-html-editor>

		<h1>igEditors</h1>
		<table id="igEditors">
			<tbody>
				<tr>
					<td>igCurrencyEditor</td>
					<td><ig-currency-editor id="currency1" ng-model="editors.currency" event-mouseover="triggerEvent"></ig-currency-editor></td>
				</tr>
				<tr>
					<td>igDateEditor</td>
					<td><ig-date-editor id="date1" ng-model="editors.date" event-mouseover="triggerEvent"></ig-date-editor></td>
				</tr>
				<tr>
					<td>igMaskEditor</td>
					<td><ig-mask-editor id="mask1" ng-model="editors.mask" input-mask="999-999-999" event-mouseover="triggerEvent"></ig-mask-editor></td>
				</tr>
				<tr>
					<td>igNumericEditor</td>
					<td><ig-numeric-editor id="numeric1" ng-model="editors.currency" event-mouseover="triggerEvent"></ig-numeric-editor></td>
				</tr>
				<tr>
					<td>igPercentEditor</td>
					<td><ig-percent-editor id="percent1" ng-model="editors.percent" event-mouseover="triggerEvent"></ig-percent-editor></td>
				</tr>
				<tr>
					<td>igTextEditor</td>
					<td><ig-text-editor id="text1" ng-model="editors.text" event-mouseover="triggerEvent"></ig-text-editor></td>
				</tr>
				<tr>
					<td>igDatePicker</td>
					<td><ig-date-picker id="datePicker1" ng-model="editors.date" event-mouseover="triggerEvent"></ig-date-picker></td>
				</tr>
				<tr>
					<td>igCheckboxEditor</td>
					<td><ig-checkbox-editor id="checkBoxEditor1" ng-model="editors.checkboxModel"></ig-checkbox-editor></td>
				</tr>
			</tbody>
		</table>
		<input id="numert">

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="../../bower_components/angular/angular.js"></script>
		<script src="../../bower_components/angular-route/angular-route.js"></script>

		<script src="http://cdn-na.infragistics.com/igniteui/latest/js/infragistics.core.js"></script>
		<script src="http://cdn-na.infragistics.com/igniteui/latest/js/infragistics.lob.js"></script>
		<!-- <script type="text/javascript" src="../../src/igniteui-angularjs.js"></script> -->
		<script type="text/javascript" src="../../instrument/igniteui-angularjs.js"></script>
		<script type="text/javascript" src="js/my-app-utils.js"></script>
		<script type="text/javascript" src="js/my-app.js"></script>
	</body>
</html>
