|title|igCombo|title|

|styles|
<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/structure/modules/infragistics.ui.validator.css" rel="stylesheet" />
<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/structure/modules/infragistics.ui.combo.css" rel="stylesheet" />
|styles|

|content|
<div ng-app="igniteui-sample" ng-controller="comboController">
	<h1 class="push-down-md"><a href="http://igniteui.com/combo/overview" target="_blank">igCombo</a></h1>
    <div class="row description">
        <div class="alert alert-info col-md-5 try-it-out">
            <span class="h4">TRY IT OUT:</span>
            <hr />
            <ul>
                <li>Enter a Product ID in the textbox and see how the combos change</li>
                <li>Change a product's name in the group of textboxes below and see how the names change in each combo</li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="lead">This sample demonstrates how to use AngularJS directives to create igCombos.</p>
            <p><a href="https://github.com/IgniteUI/igniteui-angular/blob/master/samples/igCombo.html" class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the Code</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
	        <input id="product-id" class="form-control" type="text" ng-model="combo.value1"/>
            <div class="text-sm text-muted text-right">values: 1 - 20</div>
        </div>
        <div class="col-sm-3 col-md-2">

            <ig-combo id="combo1"
                      data-source="northwind"
                      value-key-type="number"
                      value-key="ProductID"
                      text-key-type="string"
                      text-key="ProductName"
                      ng-model="combo.value1">
            </ig-combo>

        </div>
        <div class="col-sm-3 col-md-2">

            <ig-combo id="combo2"
                      data-source="northwind"
                      value-key-type="number"
                      value-key="ProductID"
                      text-key-type="string"
                      text-key="ProductName"
                      ng-model="combo.value1">
            </ig-combo>

        </div>
    </div>

    <hr />
    <h2 class="h3">Edit Product Name</h2>
	<div class="row">

		<div class="col-sm-3" ng-repeat="record in northwind">
			<input class="form-control" ng-model="record.ProductName">
		</div>

	</div>
</div>
|content|

|scripts|
<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.util.js"></script>
<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.datasource.js"></script>
<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.ui.shared.js"></script>
<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.ui.combo.js"></script>
<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.ui.validator.js"></script>
<script src="../src/igniteui-angular.js"></script>
<script src="js/igniteui-sample.js"></script>
<script src="js/data/northwind.js"></script>
|scripts|