<!DOCTYPE html>
<html ng-app="igniteui-sample">
<head>
	<title>Ignite UI Combo integration with AngularJS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/structure/modules/infragistics.ui.shared.css" rel="stylesheet" />
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/structure/modules/infragistics.ui.validator.css" rel="stylesheet" />
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/structure/modules/infragistics.ui.combo.css" rel="stylesheet" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="sample.css" />
</head>
<body class="container" ng-controller="comboController">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://github.com/IgniteUI/igniteui-angular">Ignite UI AngularJS Directives <span class="badge alert-info">Preview</span></a> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="https://github.com/IgniteUI/igniteui-angular">View on GitHub <i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
	<h1 class="push-down-md"><a href="http://igniteui.com/combo/overview" target="_blank">igCombo</a></h1>
    <div class="row description">
        <div class="alert alert-info col-md-5 try-it-out">
            <span class="h4">TRY IT OUT:</span>
            <hr />
            <ul>
                <li>Enter a Product ID in the textbox and see how the combos change</li>
                <li>Change a product's name in the group of textboxes below and see how the names change in each combo</li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="lead">This sample demonstrates how to use AngularJS directives to create igCombos.</p>
            <p><a href="https://github.com/IgniteUI/igniteui-angular/blob/master/samples/igCombo.html" class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the Code</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
	        <input id="product-id" class="form-control" type="text" ng-model="combo.value1"/>
            <div class="text-sm text-muted text-right">values: 1 - 20</div>
        </div>
        <div class="col-sm-3 col-md-2">

            <ig-combo id="combo1"
                      data-source="northwind"
                      value-key-type="number"
                      value-key="ProductID"
                      text-key-type="string"
                      text-key="ProductName"
                      ng-model="combo.value1">
            </ig-combo>

        </div>
        <div class="col-sm-3 col-md-2">

            <ig-combo id="combo2"
                      data-source="northwind"
                      value-key-type="number"
                      value-key="ProductID"
                      text-key-type="string"
                      text-key="ProductName"
                      ng-model="combo.value1">
            </ig-combo>

        </div>
    </div>

    <hr />
    <h2 class="h3">Edit Product Name</h2>
	<div class="row">

		<div class="col-sm-3" ng-repeat="record in northwind">
			<input class="form-control" ng-model="record.ProductName">
		</div>

	</div>

    <footer>
        <p>
            <a href="../index.html">Home</a> |
            <a href="https://github.com/IgniteUI/igniteui-angular/issues">Feedback &amp; Questions</a> |
            <a href="https://github.com/IgniteUI/igniteui-angular">Clone &amp; Fork</a>
        </p>
        <p class="small">For more information or to download a trial of Ignite UI, please visit: <a href="http://igniteui.com">http://igniteui.com</a></p>
    </footer>

	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>

	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.util.js"></script>
	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.datasource.js"></script>
	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.ui.shared.js"></script>
	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.ui.combo.js"></script>
	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.ui.validator.js"></script>
	<script src="../src/igniteui-angular.js"></script>
	<script src="js/igniteui-sample.js"></script>
</body>
</html>