<!DOCTYPE html>
<html ng-app="igniteui-sample">
<head>
	<title>Ignite UI Tree integration with AngularJS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/structure/modules/infragistics.ui.shared.css" rel="stylesheet" />
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/structure/modules/infragistics.ui.tree.css" rel="stylesheet" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="sample.css" />
</head>
<body class="container" ng-controller="treeController">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://github.com/IgniteUI/igniteui-angular">Ignite UI AngularJS Directives <span class="badge alert-info">Preview</span></a> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="https://github.com/IgniteUI/igniteui-angular">View on GitHub <i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
	<h1 class="push-down-md"><a href="http://igniteui.com/tree/overview" target="_blank">igTree</a></h1>
    <div class="row description">
        <div class="alert alert-info col-md-5 try-it-out">
            <span class="h4">TRY IT OUT:</span>
            <hr />
            <ul>
                <li>Add and remove nodes from the tree using the buttons</li>
                <li>Edit product names and see how the tree responds</li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="lead">This sample demonstrates how to create an igTree with an AngularJS directive.</p>
            <p><a href="https://github.com/IgniteUI/igniteui-angular/blob/master/samples/igTree.html" class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i> Explore the Code</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

            <ig-tree id="tree1" data-source="ProductCategories">
                <bindings>
                    <binding child-data-property="ProductSubcategories"
                             text-key="Name"
                             value-key="ProductCategoryID">
                    </binding>
                </bindings>
            </ig-tree>

        </div>
        <div class="col-md-9">

            <div class="row">
                <div class="col-sm-4">Add a new root-level node</div>
                <div class="col-md-3"><input type="button" class="btn btn-default btn-info" ng-click="addNodeRootLevel()" value="Add" /></div>
            </div>

            <div class="row push-down-xs">
                <div class="col-sm-4">Add a new root-level node (by name)</div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input class="form-control" placeholder="new product name" type="text" ng-model="newProductCategory.Name">
                                <span class="input-group-addon text-muted">{{newProductCategory.ProductCategoryID = ProductCategories.length + 1}}</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-default btn-info btn" type="button" value="Add" ng-click="addProductCategory($index)" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row push-down-xs">
                <div class="col-sm-4">Remove the selected node from the tree</div>
                <div class="col-md-3"><input type="button" class="btn btn-default btn-info" ng-click="removeSelectedNode()" value="Delete" /></div>
            </div>
            

            <table id="treesampletable" class="table table-striped push-down-xs">
                <tbody>
                    <tr ng-repeat="pc in ProductCategories">
                        <td>{{pc.ProductCategoryID}}</td>
                        <td class="col-sm-3"><input class="form-control" type="text" ng-model="pc.Name"></td>
                        <td><input class="btn btn-default btn-info btn-sm" type="button" value="Delete" ng-click="deleteProductCategory($index)" /></td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input class="form-control" 
                                               type="text" 
                                               placeholder="product name"
                                               ng-model="newProductSubcategory.Name">
                                        <span class="input-group-addon text-muted">{{newProductSubcategory.ProductSubcategoryID = pc.ProductSubcategories.length + 1}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input class="btn btn-default btn-info btn-sm" 
                                           type="button" 
                                           value="Add" 
                                           ng-click="addProductSubcategory($index)" />
                                </div>
                            </div>
                            <hr />
                            <div ng-repeat="ps in pc.ProductSubcategories">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" ng-model="ps.Name">
                                    </div>
                                    <div class="col-sm-1">
                                        <input 
                                               class="btn btn-default btn-info btn-sm"
                                               type="button"
                                               value="Delete"
                                               ng-click="deleteProductSubcategory($parent.$index, $index)" />
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>
    </div>

    <footer>
        <p>
            <a href="../index.html">Home</a> |
            <a href="https://github.com/IgniteUI/igniteui-angular/issues">Feedback &amp; Questions</a> |
            <a href="https://github.com/IgniteUI/igniteui-angular">Clone &amp; Fork</a>
        </p>
        <p class="small">For more information or to download a trial of Ignite UI, please visit: <a href="http://igniteui.com">http://igniteui.com</a></p>
    </footer>

	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>

	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.util.js"></script>
	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.datasource.js"></script>
	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.ui.shared.js"></script>
	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.templating.js"></script>
	<script src="//cdn-na.infragistics.com/jquery/20132/latest/js/modules/infragistics.ui.tree.js"></script>
	<script src="../src/igniteui-angular.js"></script>
	<script src="js/igniteui-sample.js"></script>
	<script src="js/data/product-categories.js"></script>
</body>
</html>